*{
    margin: 0;
    padding: 0;
}
.login{
    /* border: 2px solid red; */
    margin-top: 15vh;
    text-align: center;
}
.logo img{
    width: 8rem;
}
.logo h4{
    margin-top: 1vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.email input{
    border-radius: 5px;
    border: 1px solid black;
    margin: 2vh 0vh;
    padding: 2vh;
    width: 38vh;
    height: 3vh;
    font-size: 2vh;
}
.email button{
    width: 43vh;
    height: 7vh;
    border-radius: 5px;
    background-color: #3b5998;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0);
    font-size: 3vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.reset{
    text-align: right;
    margin-top: 2vh;
    padding-right: 5vh;
}
.reset .pswdReset{
    font-family: Arial, Helvetica, sans-serif;
}
/* .reset .notice{
    color: rgb(173, 71, 136);
    border:2px solid rgb(173, 71, 136);
    font-family: Arial, Helvetica, sans-serif;
} */